[Unit]
Description=uWSGI SVPB app
After=syslog.target

[Service]
WorkingDirectory=/home/svpb/svpb
ExecStart=/home/svpb/svpb-venv/bin/uwsgi --ini /home/svpb/svpb/wsgi/uwsgi.ini --die-on-term
User=svpb
Group=svpb
Restart=on-failure
KillSignal=SIGTERM
Type=notify
StandardError=syslog
NotifyAccess=all
